@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

//font size for desktop:
$screenSize: 20px;
$font: "Rubik", sans-serif;
$light: 300;
$regular: 400;

//colors
$blueSection: #215398;
$greySection: #f5f5f5;
$headingGreyText: #2d3236;
$cardParagraph: #808080;
